<section class="sheet padding-10mm">
  <h2 id="birthdays">{{translations.birthdays}}</h2>

  <div class="birthdays">
    <table class="birthdays">
      {{#birthdays}}
        <tr>
          <td>{{day}}</td>
          <td>{{name}}</td>
        </tr>
      {{/birthdays}}
    </table>
  </div>
</section>
