<!doctype html>
<html lang="de">
<head>
  <meta charset="utf-8">
  <title>{{translations.calendar}} {{year}}</title>
  <link href="https://fonts.googleapis.com/css?family=Monoton|Noto+Sans|Noto+Serif" rel="stylesheet"/>
  <style>{{{paperCss}}}</style>
  <style>
    @page {
      size: A4
    }
  </style>
  <style>{{{style}}}</style>
</head>
<body class="A4">

{{^monthsOnly}}
  {{> title}}

  {{> birthdays}}
{{/monthsOnly}}

{{#months}}
  {{> month}}
{{/months}}

</body>
</html>
