<section class="sheet padding-10mm">
  <h2 class="month">{{{name}}}</h2>

  <div class="picture_container" style="background-image: url('{{ordinal}}.jpg'); background-size: cover;">
  </div>

  <table class="special">
    {{#days}}
      <tr{{#holiday}} class="holiday"{{/holiday}}>
        <td class="{{classes}}">{{dayOfMonth}}</td>
        <td>
          {{#specialDays}}
            <span class="special-day {{classes}}">
              {{title}}
              {{#footnoteIndex}}<sup class="footnote">{{footnoteIndex}}</sup>{{/footnoteIndex}}
              {{#scope}}<sup class="scope">{{scope}}</sup>{{/scope}}
            </span>
          {{/specialDays}}
        </td>
      </tr>
    {{/days}}
  </table>
</section>

{{^monthsOnly}}
  <section class="sheet padding-10mm">
    <ul class="footnotes">
      {{#footnotes}}
        <li>{{{.}}}</li>
      {{/footnotes}}
    </ul>
  </section>
{{/monthsOnly}}
