* {
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  font-size: 0.22cm;
}

table.special {
  border: 1px solid #aaa;
  border-collapse: collapse;
  width: 100%;
}

table.special tr:nth-child(odd) {
  background: #eee;
}

.holiday {
  background: #ffa;
  color: inherit;
}

.birthday {
  background: inherit;
  color: #00a;
  font-weight: bold;
}

table.special tr:nth-child(odd).holiday {
  background: #ffa;
  color: inherit;
}

table.special tr:nth-child(even).holiday {
  background: #ffc;
  color: inherit;
}

table.special td {
  padding: 0.05cm;
  text-align: right;
  vertical-align: top;
}

table.special td + td {
  border-left: 1px solid #aaa;
  text-align: left;
}

strong {
  font-weight: bold;
}

em {
  font-size: 0.6em;
}

h2.month {
  float: right;
  font-size: 0.7cm;
  font-family: 'Noto Serif', serif;
  margin-top: 1cm;
  padding: 0 1cm 0 0;
  text-align: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
}

.divider {
  page-break-before: always;
}

.sunday {
  background: transparent;
  color: #f00;
}

.moving {
  background: transparent;
  color: #0a0;
}

.fixed_date {
  background: transparent;
  color: #333;
}

sup.footnote {
  background: transparent;
  color: #444;
  font-size: 0.7em;
}

sup.scope {
  background: transparent;
  color: #777;
  font-size: 0.7em;
}

sup + sup:before {
  content: ' ';
}

.picture_container {
  border: 1px solid #000;
  height: 11cm;
  margin: 0 0 0.5cm 0;
  width: 14.6cm;
}

div.statistics {
  font-size: 0.75cm;
  width: 100%;
}

div.birthdays {
  column-count: 2;
  column-width: 5cm;
}

h2#birthdays {
  color: #00a;
  font-family: 'Noto Serif', serif;
  font-size: 1cm;
  font-weight: bold;
  text-align: center;
  padding: 1cm 0 0.5cm 0;
}

table.statistics {
  border-collapse: collapse;
  margin: 0 auto;
  width: 15cm;
}

h1#statistics {
  font-family: 'Monoton', serif;
  font-size: 2cm;
  font-weight: normal;
  text-align: center;
  padding: 2cm;
}

table.statistics td {
  font-weight: bold;
  padding: 0.2cm;
  text-align: right;
}

table.statistics td + td {
  font-style: italic;
  font-weight: normal;
  text-align: left;
}

table.birthdays {
  width: 100%;
}

table.birthdays td {
  font-weight: bold;
  padding: 0.1cm;
  text-align: right;
  width: 7cm;
}

table.birthdays td + td {
  font-style: italic;
  font-weight: normal;
  text-align: left;
}

div.copyright {
  margin: 5cm 0 0 0;
  font-size: 0.5cm;
  text-align: center;
}

ul.footnotes li:nth-child(even) {
  background: #eee;
  list-style-type: none;
}

.special-day + .special-day:before {
  content: ', ';
}
