<section class="sheet padding-10mm">
  <div class="statistics">
    <h1 id="statistics">{{translations.calendar}} {{year}}</h1>

    <table class="statistics">
      <tr>
        <td>Gedenk- und Aktionstage</td>
        <td>{{counts.specialDays}}</td>
      </tr>

      <tr>
        <td><em>Durchschnitt pro Tag</em></td>
        <td><em>{{counts.average}}</em></td>
      </tr>

      <tr class="moving">
        <td>davon beweglich</td>
        <td>{{counts.movingDays}}</td>
      </tr>

      <tr>
        <td colspan="2">
          <hr/>
        </td>
      </tr>

      {{#counts.birthdays}}
        <tr class="birthday">
          <td>{{translations.birthdays}}</td>
          <td>{{counts.birthdays}}</td>
        </tr>
      {{/counts.birthdays}}

      <tr class="sunday">
        <td>Feiertage</td>
        <td>{{counts.holidays}}</td>
      </tr>

      {{#counts.schoolHolidays}}
        <tr class="holiday">
          <td>Ferientage</td>
          <td>{{counts.schoolHolidays}}</td>
        </tr>
      {{/counts.schoolHolidays}}
    </table>
  </div>

  <div class="copyright">
    <em>Idee, Umsetzung & Gestaltung</em> &copy; Karl-Philipp Wulfert<br />
    <em>Teile der Inhalte unter Creative Commons Lizenz (CC-by-sa-3.0) aus der deutschen <a href="https://de.wikipedia.org/wiki/Liste_von_Gedenk-_und_Aktionstagen">Wikipedia</a></em>
  </div>
</section>
