<section class="sheet padding-10mm">
  <h1>{{translations.birthdays}}</h1>

  <table class="birthdays second_half">
    {{#birthdaysFirstHalf}}
      <tr>
        <td>{{name}}</td>
        <td class="day-indicator">{{day}}</td>
      </tr>
    {{/birthdaysFirstHalf}}
  </table>

  <table class="birthdays first_half">
    {{#birthdaysSecondHalf}}
      <tr>
        <td class="day-indicator">{{day}}</td>
        <td>{{name}}</td>
      </tr>
    {{/birthdaysSecondHalf}}
  </table>
</section>
