<!doctype html>
<html lang="de">
<head>
  <meta charset="utf-8">
  <title>{{translations.calendar}} {{year}}</title>
  <link href="https://fonts.googleapis.com/css?family=Noto+Serif|Open+Sans+Condensed:300|Open+Sans:300&display=swap"
        rel="stylesheet">
  <style type="text/css">{{{paperCss}}}</style>
  <style>
    @page {
      size: A4
    }
  </style>
  <style type="text/css">{{{style}}}</style>
</head>
<body class="A4">

{{#months}}
  {{> month}}
{{/months}}

{{> birthdays}}

</body>
</html>
