<section class="sheet padding-10mm">
  <div class="picture_container" style="background-image: url('{{ordinal}}.jpg'); background-size: cover;">
  </div>

  <h1 class="{{{season}}}">{{{name}}}</h1>

  <table class="special second_half">
    {{#secondHalfOfDays}}
      <tr{{#holiday}} class="holiday"{{/holiday}}>
        <td>
          {{#specialDays}}
            <span class="special-day {{classes}}">
              {{title}}
              {{#footnoteIndex}}<sup class="footnote">{{footnoteIndex}}</sup>{{/footnoteIndex}}
              {{#scope}}<sup class="scope">{{scope}}</sup>{{/scope}}
            </span>
          {{/specialDays}}
        </td>
        <td class="day-indicator {{classes}}">{{dayOfMonth}}</td>
      </tr>
    {{/secondHalfOfDays}}
  </table>

  <table class="special first_half">
    {{#firstHalfOfDays}}
      <tr{{#holiday}} class="holiday"{{/holiday}}>
        <td class="day-indicator {{classes}}">{{dayOfMonth}}</td>
        <td>
          {{#specialDays}}
            <span class="special-day {{classes}}">
              {{title}}
              {{#footnoteIndex}}<sup class="footnote">{{footnoteIndex}}</sup>{{/footnoteIndex}}
              {{#scope}}<sup class="scope">{{scope}}</sup>{{/scope}}
            </span>
          {{/specialDays}}
        </td>
      </tr>
    {{/firstHalfOfDays}}
  </table>

  <div class="description">
    {{description}}
  </div>
</section>
