:root {
  --border-color: #aaa;
  --odd-row-background: #fff;
  --even-row-background: #eee;
  --winter: #2cbbff;
  --spring: #209720;
  --summer: #e17817;
  --autumn: #bf2c1f;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 0.25cm;
}

table.special {
  border-collapse: collapse;
  font-family: 'Noto Serif', sans-serif;
  width: 100%;
}

table.special tr:nth-child(odd) {
  background: var(--odd-row-background);
}

table.special tr:nth-child(even) {
  background: var(--even-row-background);
}

.birthday {
  background: inherit;
}

.special-day:not(.birthday) {
  font-weight: bold;
}

table.special td {
  border-bottom: 1px solid var(--border-color);
  padding: 0.1cm;
  text-align: right;
  vertical-align: top;
  width: 2cm;
}

table.special td + td {
  text-align: left;
  width: 100%;
}

table.special.first_half {
  border-right: 1px solid var(--border-color);
  float: left;
  width: 50%;
}

table.special.second_half {
  float: right;
  width: 50%;
}

table.special.second_half td {
  text-align: right;
  width: 100%;
}

table.special.second_half td + td {
  text-align: right;
  vertical-align: top;
  width: 2cm;
}

table.special td.day-indicator {
  font-weight: bold;
}

strong {
  font-weight: bold;
}

em {
  font-size: 0.6em;
}

h1 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.5cm;
  font-weight: normal;
  margin: 0.5cm;
  text-align: center;
}

h1.winter {
  color: var(--winter);
}

h1.spring {
  color: var(--spring);
}

h1.summer {
  color: var(--summer);
}

h1.autumn {
  color: var(--autumn);
}

.divider {
  page-break-before: always;
}

.picture_container {
  border: 1px solid var(--border-color);
  height: 11cm;
  margin: 0.5cm auto;
  width: 14.6cm;
}

.special-day + .special-day:before {
  content: ', ';
}

.description {
  clear: both;
  font-family: 'Open Sans', sans-serif;
  padding-top: 0.5cm;
  text-align: justify;
}

table.birthdays {
  border-collapse: collapse;
  float: left;
  width: 50%;
}

table.birthdays.second_half {
  float: right;
}

table.birthdays td {
  font-weight: bold;
  padding: 0.1cm;
  text-align: right;
}

table.birthdays td + td {
  font-weight: normal;
  text-align: left;
}

table.birthdays.second_half td {
  font-weight: normal;
  text-align: right;
}

table.birthdays.second_half td + td {
  font-weight: bold;
  text-align: left;
}
